.home {
  width: 100%;
  height: 80vh;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  padding: 10px;
  font-weight: bold;
  background-color: white;
  border: none;
  cursor: pointer;
}

.offer {
  width: 500px;
  margin-left: 70px;
}

.homeh1 {
  font-size: 70px;
}
